@import 'settings';

@mixin vf-p-quote-wrapper {
  .p-quote-wrapper .p-quote-wrapper__heading {
    padding-bottom: $spv--strip-shallow;
  }

  .p-quote-wrapper .p-quote-wrapper__logo {
    padding: $spv--large 0;
  }

  .p-quote-wrapper .p-quote-wrapper__quote {
    font-style: italic;
  }

  /**
    * We target the h2 case specially as it is using H2 still for a11y reasons, but we need to alter text style
    * is it better to use a <span> with role=heading and aria-level="2" here?
   */
  .p-quote-wrapper.is-h2 .p-quote-wrapper__heading {
    @extend %small-caps-text;
    @extend %bold;
  }

  .p-quote-wrapper .p-quote-wrapper__citation {
    padding-top: $spv--x-small;

    .p-quote-wrapper__citation-role {
      color: $colors--theme--text-muted;
    }
  }
}
