@use 'sass:math';

// Typographic scale settings
$ms-ratio: math.div(16, 14) !default;
$sp-unit-ratio: var(--sp-unit-ratio) !default;

// Baseline grid settings
$sp-unit: var(--sp-unit) !default;

$font-sizes: (
  display: var(--font-size-display),
  display-mobile: var(--font-size-display-mobile),
  h1: var(--font-size-h1),
  h1-mobile: var(--font-size-h1-mobile),
  h2: var(--font-size-h2),
  h2-mobile: var(--font-size-h2-mobile),
  h3: var(--font-size-h3),
  h3-mobile: var(--font-size-h3-mobile),
  h4: var(--font-size-h4),
  h4-mobile: var(--font-size-h4-mobile),
  h5: var(--font-size-h5),
  h5-mobile: var(--font-size-h5-mobile),
  h6: var(--font-size-h6),
  h6-mobile: var(--font-size-h6-mobile),
  default: var(--font-size-default),
  small: var(--font-size-small),
  x-small: var(--font-size-x-small),
) !default;

$line-heights: (
  display: var(--line-height-display),
  display-mobile: var(--line-height-display-mobile),
  h1: var(--line-height-h1),
  h1-mobile: var(--line-height-h1-mobile),
  h2: var(--line-height-h2),
  h2-mobile: var(--line-height-h2-mobile),
  h3: var(--line-height-h3),
  h3-mobile: var(--line-height-h3-mobile),
  h4: var(--line-height-h4),
  h4-mobile: var(--line-height-h4-mobile),
  h5: var(--line-height-h5),
  h5-mobile: var(--line-height-h5-mobile),
  h6: var(--line-height-h6),
  h6-mobile: var(--line-height-h6-mobile),
  default-text: var(--line-height-default-text),
  small: var(--line-height-small),
  x-small: var(--line-height-x-small),
) !default;

// baseline nudges for type scale ratio of (16/14)^2
$nudges: (
  display: var(--nudge-display),
  display-mobile: var(--nudge-display-mobile),
  h1-large: var(--nudge-h1-large),
  h1-mobile: var(--nudge-h1-mobile),
  h1: var(--nudge-h1),
  h2: var(--nudge-h2),
  h2-mobile: var(--nudge-h2-mobile),
  h2-large: var(--nudge-h2-large),
  h3: var(--nudge-h3),
  h3-mobile: var(--nudge-h3-mobile),
  h3-large: var(--nudge-h3-large),
  h4-large: var(--nudge-h4-large),
  h4: var(--nudge-h4),
  h4-mobile: var(--nudge-h4-mobile),
  h5: var(--nudge-h5),
  h5-large: var(--nudge-h5-large),
  h5-mobile: var(--nudge-h5-mobile),
  h6: var(--nudge-h6),
  h6-mobile: var(--nudge-h6-mobile),
  h6-large: var(--nudge-h6-large),
  p: var(--nudge-p),
  p-ubuntumono: var(--nudge-p-ubuntumono),
  small: var(--nudge-small),
  x-small: var(--nudge-x-small),
) !default;

// Correct baseline drift due to browser rounding. (Visible in text > 1000 lines)
// It is applied only to padding-top.
// DEPRECATED, will be removed in 4.0
$browser-rounding-compensations: (
  h1: 0,
  h2: 0,
  h3: 0,
  h4: 0,
  h5: 0,
  h6: 0,
  p: 0,
  small-largescreen: 0,
  small: 0,
) !default;

// Main spacing variables. spv stands spacing-vertical; sph stands for spacing-horizontal.

$spv--x-small: var(--spv-x-small) !default;
$spv--small: var(--spv-small) !default;
$spv--medium: var(--spv-medium) !default;
$spv--large: var(--spv-large) !default;
$spv--x-large: var(--spv-x-large) !default;
$spv--strip-shallow: var(--spv-strip-shallow) !default;
$spv--strip-regular: var(--spv-strip-regular) !default;
$spv--strip-deep: var(--spv-strip-deep) !default;

$sph--x-small: var(--sph-x-small) !default; // to be used in place of an inline space between characters/words
$sph--small: var(--sph-small) !default;
$sph--large: var(--sph-large) !default;
$sph--x-large: var(--sph-x-large) !default;

// Space after text elements
$sp-after: (
  display: var(--sp-after-display),
  display-mobile: var(--sp-after-display-mobile),
  h1: var(--sp-after-h1),
  h1-mobile: var(--sp-after-h1-mobile),
  h2: var(--sp-after-h2),
  h2-mobile: var(--sp-after-h2-mobile),
  h3: var(--sp-after-h3),
  h3-mobile: var(--sp-after-h3-mobile),
  h4: var(--sp-after-h4),
  h4-mobile: var(--sp-after-h4-mobile),
  h5: var(--sp-after-h5),
  h5-mobile: var(--sp-after-h5-mobile),
  h6: var(--sp-after-h6),
  h6-mobile: var(--sp-after-h6-mobile),
  p: var(--sp-after-p),
  p-small-caps: var(--sp-after-p-small-caps),
  p-dense: var(--sp-after-p-dense),
  default-text: var(--sp-after-default-text),
  small: var(--sp-after-small),
  small--dense: var(--sp-after-small-dense),
  x-small: var(--sp-after-x-small),
) !default;

// commonly occuring calculations available as variables
$spv-nudge: map-get($nudges, p) !default; // top: nudge; bottom: unit - nudge; result: height = exact multiple of base unit
$spv-nudge-compensation: $sp-unit - $spv-nudge !default;

// form input spacing variables
$input-margin-bottom: calc(var(--sp-unit) * 4 - var(--nudge-p) * 2);
$input-border-thickness: 1.5px;
$input-vertical-padding: calc(var(--nudge-p) - $input-border-thickness);

// tick element variables
$form-tick-box-size: 1rem;
$form-tick-height: 0.375rem;
$form-tick-offset-top: 0.1875rem;
$form-tick-box-nudge: 0.15rem; // to nudge the tick box a bit below baseline (to correctly align with default text size)
$form-radio-inner-circle-diameter: 0.375rem;
$form-radio-circle-offset: 0.5 * ($form-tick-box-size - $form-radio-inner-circle-diameter);

$text-max-width: var(--text-max-width) !default;

$icon-sizes: (
  small: calc(var(--sp-unit) * 1.5),
  default: calc(var(--sp-unit) * 2),
  heading-icon--x-small: calc(var(--sp-unit) * 3),
  heading-icon--small: calc(var(--sp-unit) * 4),
  heading-icon: calc(var(--sp-unit) * 5),
  thumb: calc(var(--sp-unit) * 6),
  thumb--large: calc(var(--sp-unit) * 12),
) !default;

$default-icon-size: map-get($icon-sizes, default);

$table-cell-vertical-padding: var(--table-cell-vertical-padding) !default;

// generic units
// TODO once CSS is the source of truth, we shouldn't need to use calc() here, we can just directly consume the vars from css. Otherwise the math is duplicated.
$sp-xx-small: calc(var(--sp-unit) * 0.25) !default;
$sp-x-small: calc(var(--sp-unit) * 0.5) !default;
$sp-small: var(--sp-unit) !default;
$sp-medium: calc(var(--sp-unit) * 2) !default;
$sp-large: calc(var(--sp-unit) * 3) !default;
$sp-x-large: calc(var(--sp-unit) * 4) !default;
$sp-xx-large: calc(var(--sp-unit) * 5) !default;
$sp-xxx-large: calc(var(--sp-unit) * 6) !default;
$sp-xxxx-large: calc(var(--sp-unit) * 8) !default;
$sp-xxxxx-large: calc(var(--sp-unit) * 12) !default; // anything this large should be expressed as a sum of constituent heights. This is not currently used AFAIK  , consider removing for 3.0
