name: "Percy screenshots"

on:
  workflow_run:
    workflows:
      - "Prepare Percy build"
    types:
      - completed

jobs:
  upload:
    name: Build project with proposed changes & take Percy snapshots
    if: github.event.workflow_run.conclusion=='success'
    runs-on: ubuntu-latest
    outputs:
      pr_head_sha: ${{ steps.get_pr_data.outputs.sha }}
      pr_number: ${{ steps.get_pr_data.outputs.pr_number }}
      percy_build_link: ${{ steps.percy_snapshot.outputs.build_link }}
      percy_org_id: ${{ steps.percy_snapshot.outputs.org_id }}
      percy_build_id: ${{ steps.percy_snapshot.outputs.build_id }}
    steps:
      - name: Checkout SCM
        uses: actions/checkout@v4

      - name: Remove SCM directories that will be replaced by artifact files
        run: |
          set -e
          rm -rf templates/docs/examples/ scss/

      - name: Download artifact from workflow run
        uses: actions/download-artifact@v4
        with:
          name: "web-artifact-${{ github.event.workflow_run.id }}"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.workflow_run.repository.full_name }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Move artifact files into place to replace SCM
        run: |
          set -e
          # artifact directory contains `scss/`, `/examples`, `pr_num.txt`, and `pr_head_sha.txt`. `/examples` must be moved to `templates/docs/`.
          mv examples/ templates/docs/.

      - name: Get PR data
        if: github.event.workflow_run.event=='pull_request'
        id: get_pr_data
        run: |
          set -e
          echo "sha=$(cat pr_head_sha.txt)" >> $GITHUB_OUTPUT
          echo "pr_number=$(cat pr_num.txt)" >> $GITHUB_OUTPUT
          exit 1

      - name: Take snapshots & upload to Percy
        id: percy_snapshot
        uses: "./.github/workflows/percy-snapshot"
        with:
          branch_name: "pull/${{ steps.get_pr_data.outputs.pr_number }}"
          pr_number: ${{ steps.get_pr_data.outputs.pr_number }}
          commitsh: ${{ steps.get_pr_data.outputs.sha }}
          percy_token_write: ${{ secrets.PERCY_TOKEN_WRITE }}

  remove_percy_label:
    name: Remove Percy test requested label
    needs: upload
    # Run on success or failure; that way if the build fails for some reason the label is still removed
    # This works as long as the get_pr_data step has succeeded, as it needs the PR number. 
    if: ${{ failure() || needs.upload.outputs.pr_number != '' }}
    runs-on: ubuntu-latest
    steps:

    - name: Check for existence of Percy test requested label
      id: label_exists
      run: |
        set -e
        resp=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ needs.upload.outputs.pr_number }}/labels
        )
        label_count=$(echo $resp | jq '[.[] | select(.name == "${{ vars.PERCY_TEST_REQUESTED_LABEL_NAME }}")] | length')
        echo "label_count=$label_count" >> $GITHUB_OUTPUT

    - name: URL-encode label data for API request
      if: steps.label_exists.outputs.label_count==1
      id: url_encode
      run: |
        set -e
        test_requested_label_name=$(echo -n "${{ vars.PERCY_TEST_REQUESTED_LABEL_NAME }}" | jq -s -R -r @uri)
        echo "test_requested_label_name=$test_requested_label_name" >> $GITHUB_OUTPUT
            
    - name: Remove ${{ vars.PERCY_TEST_REQUESTED_LABEL_NAME }} label
      if: steps.label_exists.outputs.label_count==1
      uses: octokit/request-action@v2.x
      with:
        route: "DELETE /repos/${{ github.repository }}/issues/${{ needs.upload.outputs.pr_number }}/labels/${{ steps.url_encode.outputs.test_requested_label_name }}"
        owner: octokit
        repo: request-action
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Add a check to the PR to show that screenshots were sent to Percy
  # Manual status check to be removed once IS-GHA integration is complete
  # https://docs.github.com/en/rest/checks/runs?apiVersion=2022-11-28#create-a-check-run
  apply_pr_check:
    name: Apply PR check
    needs: upload
    if: github.event.workflow_run.event=='pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Apply PR check
        id: create_check_run
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/${{ github.repository }}/check-runs
          owner: octokit
          repo: request-action
          name: "percy_upload"
          head_sha: ${{ needs.upload.outputs.pr_head_sha }}
          status: completed
          conclusion: success
          details_url: ${{ needs.upload.outputs.percy_build_link }}
          output: |
            title: "Percy build"
            summary: "Percy build #${{ needs.upload.outputs.percy_build_id }} created"
            text: "Percy build was created at ${{ needs.upload.outputs.percy_build_link }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}